<div class="row mt-2">
  <div class="col-sm-6">
    <div class="alert alert-primary" role="alert">
      <p>Your shortened link is ready: <b><%= link_to url, url, class: "alert-link" %></b></p>
    </div>
  </div>
</div>