<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h4>Enter the URL to shorten</h4>
      <%= render 'form', short_url: @short_url %>
      <div id="created-url"></div>
    </div>

  </div>

</main>