<!DOCTYPE html>
<html>
  <head>
    <title>Shortfish</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class= "navbar-brand">ShortFish</span>
    </nav>
    <%= yield %>
  </body>
</html>
